node_modules
*.log
*.aes
cypress/downloads
cypress/screenshots
cypress/videos
cypress/logs
cypress/fixtures/profile.json
cypress/fixtures/users.json
.history
.vscode
env
.DS_Store

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
